**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант № 2

Набор данных: drivers.csv

### 1.Чтение файла (набора данных)

In [18]:
# импорт библиотек, чтение файла с помощью pandas

import pandas as pd

pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_csv('drivers.csv', delimiter=";")

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [19]:
# применить метод head

print(df.head(20))

          START_DATE          END_DATE CATEGORY*        START           STOP  \
0   01.10.2016 19:12  01.10.2016 19:32  Business      Midtown    East Harlem
1   01.11.2016 13:32  01.11.2016 13:46  Business      Midtown   Midtown East
2   01.12.2016 12:33  01.12.2016 12:49  Business      Midtown  Hudson Square
3    1.13.2016 15:00   1.13.2016 15:28  Business      Gulfton       Downtown
4    1.29.2016 21:21   1.29.2016 21:40  Business         Apex           Cary
5    1.30.2016 18:09   1.30.2016 18:24  Business         Apex           Cary
6   02.01.2016 12:10  02.01.2016 12:43  Business  Chapel Hill           Cary
7    02.04.2016 9:37  02.04.2016 10:09  Business  Morrisville           Cary
8   02.07.2016 18:03  02.07.2016 18:17  Business         Apex           Cary
9   02.07.2016 20:22  02.07.2016 20:40  Business  Morrisville           Cary
10  02.09.2016 20:24  02.09.2016 20:40  Business  Morrisville           Cary
11  02.11.2016 20:36  02.11.2016 20:51  Business  Morrisville           Cary
12  02.12.2016 11:14  02.12.2016 11:35  Business  Morrisville        Raleigh
13  02.12.2016 15:33  02.12.2016 16:06  Business  Morrisville           Cary
14   2.14.2016 14:46   2.14.2016 15:03  Business      Midtown   Midtown West
15   2.16.2016 10:31   2.16.2016 10:41  BUSINESS      Colombo        Colombo
16   2.16.2016 11:32   2.16.2016 12:02  Business      Colombo        Colombo
17   2.16.2016 12:39   2.16.2016 12:42  Business      Colombo        Colombo
18   2.16.2016 13:43   2.16.2016 13:55  BUSINESS      Colombo        Colombo
19   2.16.2016 16:34   2.16.2016 17:10  Business      Colombo        Colombo

      MILES    PURPOSEroute
0   44963.0         MEETING
1   45108.0  Meal/Entertain
2   45170.0  Meal/Entertain
3   45149.0         Meeting
4   45051.0  Meal/Entertain
5   45112.0  Customer Visit
6   45008.0  Customer Visit
7   45116.0  Meal/Entertain
8   45112.0  Customer Visit
9   44932.0         Meeting
10  44932.0  Meal/Entertain
11  44932.0  Temporary Site
12     17.0  Customer Visit
13  45057.0  Customer Visit
14      2.0         Meeting
15  45079.0             NaN
16  45050.0             NaN
17  45108.0             NaN
18  45139.0  Temporary Site
19      6.0             NaN

2.2 Оценка данных с помощью метода info.

In [20]:
# выполнит метод info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   START_DATE    161 non-null    object
 1   END_DATE      161 non-null    object
 2   CATEGORY*     161 non-null    object
 3   START         161 non-null    object
 4   STOP          161 non-null    object
 5   MILES         161 non-null    float64
 6   PURPOSEroute  84 non-null     object
dtypes: float64(1), object(6)
memory usage: 8.9+ KB

2.3 Оценка данных с помощью метода describe.

In [21]:
# оцените числовые столбцы с помощью describe

print(df.describe())

              MILES
count    161.000000
mean   37766.519255
std    16614.925558
min        0.800000
25%    44931.000000
50%    45008.000000
75%    45081.000000
max    45177.000000


---

**Итого, я познакомился с ключевыми методами для первичного анализа данных. Метод head() позволяет быстро просмотреть начало датасета и убедиться, что данные загружены корректно. Метод info() даёт общую информацию о структуре DataFrame: количество строк и столбцов, типы данных и наличие пропущенных значений. Метод describe() предоставляет основные статистические характеристики числовых признаков — среднее, стандартное отклонение, минимум, максимум, квартили**


 ---

 2.4 Оценка названий столбцов

In [22]:
# Вывести на экран названия столбцов с помощью df.columns. Выявить проблемы с названиями, если они есть. При необходимости переименовать столбцы. Если проблемы не обнаружены также дать пояснения.

print(df.columns)

Index(['START_DATE', 'END_DATE', 'CATEGORY*', 'START', 'STOP', 'MILES',
       'PURPOSEroute'],
      dtype='object')

Проблем не возникло, но лучше переименовать названия столбцов CATEGORY* -> CATEGORY, PURPOSEroute -> PURPOSE_ROUTE

In [23]:
# переименование при необходимости

df = df.rename(columns={
    'CATEGORY*': 'CATEGORY',
    'PURPOSEroute': 'PURPOSE_ROUTE'
})

### 3. Проверка пропусков

In [24]:
# Проверить данные на наличие пропусков и устранить их, если они есть (пропуски необходимо либо удалить, либо заменить каким-то значением).

print(df.isnull().sum())

START_DATE        0
END_DATE          0
CATEGORY          0
START             0
STOP              0
MILES             0
PURPOSE_ROUTE    77
dtype: int64

In [25]:
df['PURPOSE_ROUTE'] = df['PURPOSE_ROUTE'].fillna('Unknown')

print(df.isnull().sum())

START_DATE       0
END_DATE         0
CATEGORY         0
START            0
STOP             0
MILES            0
PURPOSE_ROUTE    0
dtype: int64


---

**Я решил не удалять строки с пропущенными данными, а обозначить их как "неизвестно", тк удаление строк приведет к потере почти половины данных (77 строк из 161), что может сильно исказить анализ данных и снизить статистическую значимость.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

In [26]:
print("Количество дубликатов:", df.duplicated().sum())

print()
print(df[df.duplicated()])

Количество дубликатов: 2

          START_DATE         END_DATE  CATEGORY        START  STOP    MILES  \
159  7.26.2016 22:31  7.26.2016 22:39  Business  Morrisville  Cary  45048.0
160  7.26.2016 22:31  7.26.2016 22:39  Business  Morrisville  Cary  45048.0

      PURPOSE_ROUTE
159  Meal/Entertain
160  Meal/Entertain

In [27]:
# удалите дубликаты, если они есть

print("Строк до удаления:", len(df))
df = df.drop_duplicates()
print("Строк после удаления:", len(df))

Строк до удаления: 161
Строк после удаления: 159

#### Проверка неявных дубликатов

In [28]:
print("=== START_DATE ===\n", sorted(df['START_DATE'].unique()))
print("\n=== END_DATE ===\n", sorted(df['END_DATE'].unique()))
print("\n=== CATEGORY ===\n", sorted(df['CATEGORY'].unique()))
print("\n=== START ===\n", sorted(df['START'].unique()))
print("\n=== STOP ===\n", sorted(df['STOP'].unique()))
print("\n=== PURPOSE_ROUTE ===\n", sorted(df['PURPOSE_ROUTE'].unique()))

=== START_DATE ===
 ['01.10.2016 19:12', '01.11.2016 13:32', '01.12.2016 12:33', '02.01.2016 12:10', '02.04.2016 9:37', '02.07.2016 18:03', '02.07.2016 20:22', '02.09.2016 20:24', '02.11.2016 20:36', '02.12.2016 11:14', '02.12.2016 15:33', '03.04.2016 19:16', '03.05.2016 14:08', '03.05.2016 17:23', '04.12.2016 13:42', '05.03.2016 22:20', '05.04.2016 21:30', '05.06.2016 16:45', '05.06.2016 17:18', '05.06.2016 5:47', '05.11.2016 21:47', '06.01.2016 13:10', '06.05.2016 18:05', '06.06.2016 21:08', '06.11.2016 17:34', '07.06.2016 0:33', '07.06.2016 23:46', '07.07.2016 10:27', '07.09.2016 10:15', '07.12.2016 23:47', '08.01.2016 15:40', '08.01.2016 17:23', '08.02.2016 11:51', '08.05.2016 19:17', '08.06.2016 9:31', '08.07.2016 20:15', '08.08.2016 23:28', '08.10.2016 18:49', '08.10.2016 19:47', '1.13.2016 15:00', '1.29.2016 21:21', '1.30.2016 18:09', '10.15.2016 22:28', '10.16.2016 0:01', '10.16.2016 15:10', '10.16.2016 21:34', '10.17.2016 18:31', '10.17.2016 19:08', '10.19.2016 13:45', '10.20.2016 20:44', '10.22.2016 0:54', '10.23.2016 21:10', '10.24.2016 16:34', '10.25.2016 15:04', '10.25.2016 20:54', '10.27.2016 19:20', '10.27.2016 21:26', '10.29.2016 17:13', '10.30.2016 10:11', '10.30.2016 10:51', '10.30.2016 12:24', '10.30.2016 12:58', '10.30.2016 13:24', '10.30.2016 9:07', '10.31.2016 18:47', '11.02.2016 17:34', '11.02.2016 17:53', '11.03.2016 22:46', '11.04.2016 18:14', '11.04.2016 21:04', '11.05.2016 19:20', '11.05.2016 8:34', '11.06.2016 10:50', '11.06.2016 16:27', '11.10.2016 14:57', '11.11.2016 21:08', '11.12.2016 10:55', '11.12.2016 15:14', '11.13.2016 13:14', '11.18.2016 21:23', '11.19.2016 21:14', '11.22.2016 21:02', '11.26.2016 17:36', '11.27.2016 18:55', '11.30.2016 12:43', '12.01.2016 20:36', '12.02.2016 13:07', '12.02.2016 22:59', '12.03.2016 20:31', '12.04.2016 20:23', '12.09.2016 13:15', '12.10.2016 22:09', '12.12.2016 14:26', '12.12.2016 20:48', '12.14.2016 20:24', '2.14.2016 14:46', '2.16.2016 10:31', '2.16.2016 11:32', '2.16.2016 12:39', '2.16.2016 13:43', '2.16.2016 16:34', '2.16.2016 17:17', '2.17.2016 15:17', '2.17.2016 15:33', '2.22.2016 21:54', '2.29.2016 12:36', '3.13.2016 20:07', '3.17.2016 17:20', '3.18.2016 18:24', '3.18.2016 7:15', '3.18.2016 8:35', '3.19.2016 17:17', '3.19.2016 19:33', '3.19.2016 9:10', '3.20.2016 17:08', '3.20.2016 18:45', '3.20.2016 7:37', '3.21.2016 10:21', '3.21.2016 18:59', '3.22.2016 12:06', '3.22.2016 6:17', '3.29.2016 18:20', '3.29.2016 20:29', '4.16.2016 15:10', '4.28.2016 22:10', '5.14.2016 23:01', '5.18.2016 13:00', '5.20.2016 15:43', '5.22.2016 18:46', '5.27.2016 20:47', '5.28.2016 14:35', '6.15.2016 16:37', '6.16.2016 14:42', '6.18.2016 0:29', '6.25.2016 10:50', '6.25.2016 11:53', '6.25.2016 23:19', '6.27.2016 11:30', '6.27.2016 12:22', '6.27.2016 13:56', '6.28.2016 0:48', '6.29.2016 10:22', '7.13.2016 13:25', '7.13.2016 13:42', '7.14.2016 16:39', '7.16.2016 19:42', '7.18.2016 10:54', '7.18.2016 18:32', '7.18.2016 21:11', '7.19.2016 17:50', '7.21.2016 19:30', '7.22.2016 11:11', '7.22.2016 15:49', '7.23.2016 14:48', '7.23.2016 15:50', '7.25.2016 11:04', '7.26.2016 22:31', '7.27.2016 21:34', '7.28.2016 0:04']

=== END_DATE ===
 ['01.10.2016 19:32', '01.11.2016 13:46', '01.12.2016 12:49', '02.01.2016 12:43', '02.04.2016 10:09', '02.07.2016 18:17', '02.07.2016 20:40', '02.09.2016 20:40', '02.11.2016 20:51', '02.12.2016 11:35', '02.12.2016 16:06', '03.04.2016 19:25', '03.05.2016 14:18', '03.05.2016 17:34', '04.12.2016 14:01', '05.03.2016 22:28', '05.04.2016 21:36', '05.06.2016 16:59', '05.06.2016 17:44', '05.06.2016 6:02', '05.11.2016 22:04', '06.01.2016 13:39', '06.05.2016 18:14', '06.06.2016 21:37', '06.11.2016 17:39', '07.06.2016 0:53', '07.06.2016 23:59', '07.07.2016 10:33', '07.09.2016 10:33', '08.01.2016 15:47', '08.01.2016 17:55', '08.02.2016 12:15', '08.05.2016 19:27', '08.06.2016 9:53', '08.07.2016 20:23', '08.08.2016 23:37', '08.10.2016 18:50', '08.10.2016 20:02', '1.13.2016 15:28', '1.29.2016 21:40', '1.30.2016 18:24', '10.15.2016 22:48', '10.16.2016 0:14', '10.16.2016 15:19', '10.16.2016 21:41', '10.17.2016 18:45', '10.17.2016 19:25', '10.19.2016 13:56', '10.20.2016 21:37', '10.22.2016 1:09', '10.23.2016 21:25', '10.24.2016 16:41', '10.25.2016 15:11', '10.25.2016 21:03', '10.27.2016 19:35', '10.27.2016 21:48', '10.29.2016 19:19', '10.30.2016 10:09', '10.30.2016 10:38', '10.30.2016 11:21', '10.30.2016 12:35', '10.30.2016 13:18', '10.30.2016 14:37', '10.31.2016 19:16', '11.02.2016 17:49', '11.02.2016 18:00', '11.03.2016 22:58', '11.04.2016 18:21', '11.04.2016 21:20', '11.05.2016 19:28', '11.05.2016 8:43', '11.06.2016 11:04', '11.06.2016 17:28', '11.10.2016 15:07', '11.11.2016 21:18', '11.12.2016 11:25', '11.12.2016 15:21', '11.13.2016 13:18', '11.18.2016 21:34', '11.19.2016 21:35', '11.22.2016 21:14', '11.26.2016 17:56', '11.27.2016 19:09', '11.30.2016 12:53', '12.01.2016 20:46', '12.02.2016 13:22', '12.02.2016 23:07', '12.03.2016 20:41', '12.04.2016 20:34', '12.09.2016 13:43', '12.10.2016 22:21', '12.12.2016 14:39', '12.12.2016 20:57', '12.14.2016 20:40', '2.14.2016 15:03', '2.16.2016 10:41', '2.16.2016 12:02', '2.16.2016 12:42', '2.16.2016 13:55', '2.16.2016 17:10', '2.16.2016 17:26', '2.17.2016 15:22', '2.17.2016 16:17', '2.22.2016 22:09', '2.29.2016 12:48', '3.13.2016 20:28', '3.17.2016 18:02', '3.18.2016 19:08', '3.18.2016 7:21', '3.18.2016 8:43', '3.19.2016 17:32', '3.19.2016 20:39', '3.19.2016 9:25', '3.20.2016 17:34', '3.20.2016 19:06', '3.20.2016 7:48', '3.21.2016 10:26', '3.21.2016 19:15', '3.22.2016 12:24', '3.22.2016 6:43', '3.29.2016 18:39', '3.29.2016 20:44', '4.16.2016 15:26', '4.28.2016 22:28', '5.14.2016 23:05', '5.18.2016 13:02', '5.20.2016 16:12', '5.22.2016 18:53', '5.27.2016 20:53', '5.28.2016 15:04', '6.15.2016 17:02', '6.16.2016 14:46', '6.18.2016 0:51', '6.25.2016 11:18', '6.25.2016 13:21', '6.25.2016 23:26', '6.27.2016 11:42', '6.27.2016 13:02', '6.27.2016 14:05', '6.28.2016 1:05', '6.29.2016 10:38', '7.13.2016 0:11', '7.13.2016 13:39', '7.13.2016 13:54', '7.14.2016 20:05', '7.16.2016 20:35', '7.18.2016 11:15', '7.18.2016 18:47', '7.18.2016 21:19', '7.19.2016 18:08', '7.21.2016 19:39', '7.22.2016 11:25', '7.22.2016 16:22', '7.23.2016 15:12', '7.23.2016 16:10', '7.25.2016 11:33', '7.26.2016 22:39', '7.27.2016 21:57', '7.28.2016 0:09']

=== CATEGORY ===
 ['BUSINESS', 'Business', 'Personal']

=== START ===
 ['Agnew', 'Almond', 'Apex', 'Arabi', 'Arlington', 'Boone', 'Briar Meadow', 'Bryson City', 'Capitol One', 'Chapel Hill', 'Chessington', 'College Avenue', 'Colombo', 'Columbia Heights', 'Galveston', 'Georgian Acres', 'Gulfton', 'Hayesville', 'Lower Garden District', 'Mandeville', 'Marigny', 'Metairie', 'Midtown', 'Morrisville', 'SOMISSPO', 'San Jose', 'Sand Lake Commons', 'Santa Clara', 'Savon Height', 'Sky Lake', 'South', 'South Berkeley']

=== STOP ===
 ['Agnew', 'Alief', 'Almond', 'Apex', 'Asheville', 'Banner Elk', 'Berkeley', 'Bryson City', 'Cary', 'Central', 'Colombo', 'Cory', 'Downtown', 'Eagle Rock', 'East Harlem', 'Emeryville', 'French Quarter', 'Greater Greenspoint', 'Holly Springs', 'Houston', 'Hudson Square', 'Kalorama Triangle', 'Katunayaka', 'Kenner', 'Kilarney Woods', 'Lakeview', 'Mandeville', 'Mcvan', 'Metairie', 'Midtown', 'Midtown East', 'Midtown West', 'Morrisville', 'New Orleans', 'Nugegoda', 'Parkway', 'Port Bolivar', 'Raleigh', 'Renaissance', 'Sand Lake Commons', 'Santa Clara', 'Sharpstown', 'Sky Lake', 'Southside', 'Southwest Berkeley', 'Storyville', 'Tenderloin', 'The Drag', 'Topton', 'University District', 'Washington', 'Washington Avenue', 'Whitebridge']

=== PURPOSE_ROUTE ===
 ['Customer Visit', 'MEETING', 'Meal/Entertain', 'Meeting', 'Moving', 'Temporary Site', 'Unknown']

Итого, неявные дубликаты есть в столбцах 'CATEGORY', 'START', 'STOP', 'PURPOSE_ROUTE' (из-за регистра). Поэтому ниже я приведу все значения к одному регистру и на всякий случай уберу лишние пробелы

In [18]:
text_columns = ['CATEGORY', 'START', 'STOP', 'PURPOSE_ROUTE']

# Применяем очистку к каждому столбцу
for col in text_columns:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [20]:
# удалите дубликаты, если они есть

print("Строк до удаления:", len(df))
df = df.drop_duplicates()
print("Строк после удаления:", len(df))

Строк до удаления: 159
Строк после удаления: 159

---

**Итого, явных дубликатов оказалось 2 и после их удаления количество строк уменьшилось с 161 до 159. После этого я обнаружил, что в некоторых ячейках могут быть одинаковые значения по смыслу, но по-разному написаны, что может привести к допуску неявных дубликатов. Поэтому я унифицировал такие данные. Но, после этого дубликатов обнаружено не было, поэтому после выполнения кода количество строк так и осталось равно 159.**


 ---

### 5. Провека типов данных

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   START_DATE     159 non-null    object
 1   END_DATE       159 non-null    object
 2   CATEGORY       159 non-null    object
 3   START          159 non-null    object
 4   STOP           159 non-null    object
 5   MILES          159 non-null    float64
 6   PURPOSE_ROUTE  159 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.9+ KB

In [31]:
# Проверьте типы данных, при необходимости измените типы данных, чтобы они соответствовали действительности.

df['START_DATE'] = pd.to_datetime(df['START_DATE'], format='%m.%d.%Y %H:%M')
df['END_DATE'] = pd.to_datetime(df['END_DATE'], format='%m.%d.%Y %H:%M')

cat_cols = ['CATEGORY', 'PURPOSE_ROUTE']
df[cat_cols] = df[cat_cols].astype('category')

---

**Итого: столбцы с датами (START_DATE, END_DATE) переведены в тип datetime64[ns], что позволяет корректно выполнять временные операции (расчёт длительности поездок, извлечение часа или дня недели и т.д.). Категориальные признаки CATEGORY и PURPOSE_ROUTE преобразованы в тип category, поскольку они содержат небольшое число уникальных значений, что снижает потребление памяти и ускоряет обработку без потери информации.**


 ---

### 6. Группировка данных

#### Задание 1

*` Группировка - CATEGORY  и количество поездок для каждой очки 
старта (START)`*

In [ ]:
# выполните группировку согласно варианту

grouped = pd.crosstab(
    index=df['CATEGORY'],    
    columns=df['START'],     
    margins=True             
)

print(grouped)

START     agnew  almond  apex  arabi  arlington  boone  briar meadow  \
CATEGORY
business      4       1    17      1          1      0             1
personal      0       0     0      0          0      1             0
All           4       1    17      1          1      1             1

START     bryson city  capitol one  chapel hill  chessington  college avenue  \
CATEGORY
business            5            2            2            0               1
personal            0            0            0            1               0
All                 5            2            2            1               1

START     colombo  columbia heights  galveston  georgian acres  gulfton  \
CATEGORY
business        8                 1          2               1        1
personal        0                 0          0               0        0
All             8                 1          2               1        1

START     hayesville  lower garden district  mandeville  marigny  metairie  \
CATEGORY
business           1                      1           2        1         4
personal           0                      0           0        0         0
All                1                      1           2        1         4

START     midtown  morrisville  san jose  sand lake commons  santa clara  \
CATEGORY
business       13           68         2                  0            1
personal        1            6         0                  1            0
All            14           74         2                  1            1

START     savon height  sky lake  somisspo  south  south berkeley  All
CATEGORY
business             2         0         2      2               1  148
personal             0         1         0      0               0   11
All                  2         1         2      2               1  159

**`Для анализа распределения поездок по категориям и точкам старта была построена сводная таблица с использованием pd.crosstab(). В результате получено количество поездок для каждой комбинации категории (CATEGORY) и места начала поездки (START)`**

#### Задание 2

*`Группировка - CATEGORY  и количество поездок каждого типа (по цели 
маршрута). Создать датафрейм. Переименовать столбец с количеством в “сountˮ. 
Отсортировать по убыванию столбца “countˮ`*

In [32]:
# выполните группировку согласно варианту

result_df = df.groupby(['CATEGORY', 'PURPOSE_ROUTE']).size().reset_index(name='count')
result_df = result_df.sort_values(by='count', ascending=False)

print(result_df)

    CATEGORY   PURPOSE_ROUTE  count
5   business         unknown     67
1   business  meal/entertain     34
0   business  customer visit     30
2   business         meeting     13
11  personal         unknown     10
4   business  temporary site      4
9   personal          moving      1
3   business          moving      0
7   personal  meal/entertain      0
6   personal  customer visit      0
8   personal         meeting      0
10  personal  temporary site      0

C:\Users\dolbo\AppData\Local\Temp\ipykernel_11236\647307302.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result_df = df.groupby(['CATEGORY', 'PURPOSE_ROUTE']).size().reset_index(name='count')

**`Была выполнена группировка данных по категории поездки (CATEGORY) и её цели (PURPOSE_ROUTE). Для каждой комбинации подсчитано количество поездок. Результат представлен в виде датафрейма с переименованным столбцом количества в "count". Данные отсортированы по убыванию частоты встречаемости.`**

#### Задание 3

*`Сводная таблица (pivot_table) - максимальное количество пройденных 
миль по каждой категории(CATEGORY). Отсортировать по убыванию столбца 
MILES.`*

In [33]:
# выполните сводную таблицу согласно варианту

pivot_df = pd.pivot_table(
    data=df,
    index='CATEGORY',        
    values='MILES',          
    aggfunc='max'           
)

pivot_df = pivot_df.sort_values(by='MILES', ascending=False)

print(pivot_df)

            MILES
CATEGORY
business  45177.0
personal  45161.0

C:\Users\dolbo\AppData\Local\Temp\ipykernel_11236\2245511576.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = pd.pivot_table(

**`С помощью сводной таблицы (pd.pivot_table) была определена максимальная величина пройденных миль (MILES) для каждой категории поездок (CATEGORY). Результат отсортирован по убыванию значения MILES.`**

#### Задание 4

*`Сводная таблица (pivot_table) - средняя количество пройденных миль 
по каждой цели поездки (PURPOSEroute) - столбцы и каждой категории - строки. 
Отсортировать по убыванию столбца CATEGORY`*

In [34]:
# выполните сводную таблицу согласно варианту

pivot_df = pd.pivot_table(
    data=df,
    index='CATEGORY',        
    columns='PURPOSE_ROUTE', 
    values='MILES',          
    aggfunc='mean'           
)
pivot_df = pivot_df.sort_index(ascending=False)

print(pivot_df)

PURPOSE_ROUTE  customer visit  meal/entertain       meeting   moving  \
CATEGORY
personal                  NaN             NaN           NaN  44932.0
business         36023.196667    41054.823529  34646.846154      NaN

PURPOSE_ROUTE  temporary site       unknown
CATEGORY
personal                  NaN  36035.000000
business              45063.5  36982.219403

C:\Users\dolbo\AppData\Local\Temp\ipykernel_11236\4207110198.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = pd.pivot_table(

**`Сводная таблица показывает, что деловые поездки (business) в среднем длиннее личных (personal), а наибольшие расстояния связаны с целями вроде «customer visit». Отсутствие данных в некоторых ячейках указывает, что отдельные типы поездок (например, «temporary site») встречаются только в бизнес-категории.`**

### Вывод


**В ходе выполнения работы я познакомился с библиотекой pandas и освоил ключевые этапы предварительной обработки и анализа данных. Я научился: загружать данные из CSV-файлов с учётом разделителя; проверять и корректировать названия столбцов; выявлять и обрабатывать пропуски, явные и неявные дубликаты; преобразовывать типы данных (включая даты и категориальные признаки); использовать методы head(), info(), describe() для разведочного анализа; группировать данные и строить сводные таблицы с помощью groupby() и pivot_table().
Эти навыки позволили мне привести сырые данные к чистому и анализируемому виду, а также получить содержательные инсайты о структуре поездок по категориям, целям и пройденным расстояниям.**

### Дополнительное задание

**`Подробная формулировка задания`**

In [ ]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***